
<%- include("partials/header"); -%>

    <main>
      
      <div class="background">
        <h1>Anime Trails</h1>

        <% foundAnime.forEach(anime => {  %>
           
      

        <div class="anime-background">
          <div class="anime-name">
            <h2><%= anime.name %></h2>
          </div>

          <p><%= anime.genre %></p>

          <figure>
            <!-- https://images4.alphacoders.com/313/3136.jpg -->
            <object data=<%= anime.image %>>
            <img
              class="anime-image"
              src= "no-photo.png"
              alt=""
              srcset=""
            />
            <!-- <a href="https://www.flaticon.com/free-icons/no-photo" title="no photo icons">No photo icons created by IconMarketPK - Flaticon</a> -->
          </object>
            <figcaption>
              <a
                href= <%= anime.attribution_link %>
                target="_blank"
                rel="noopener noreferrer"
                title="gear icons"
                ><%= anime.attribution_name %>  found at Alpha Coders </a
              >
            </figcaption>
          </figure>
          <hr />

          <h3>Favourite Quote</h3>
          <div class="quote">
            <div>
              <div class="quote-background">
                <p class="quote-text">
                  <%= anime.quote_text %>
                </p>
                <p class="quote-author"><%= anime.quote_author %></p>
              </div>
            </div>
          </div>

          <hr />

          <h3>Favourite Characters</h3>
          <div class="characters">
            <div class="character">
              <h4><%= anime.characters[0].name %></h4>
              <figure>
                <!-- data="https://images4.alphacoders.com/313/3136.jpg" -->
                <!-- <%= anime.characters[0].image %> -->
                <object data="https://images4.alphacoders.com/313/313.jpg">
                <img
                  class="character-image"
                  src="no-photo.png"
                  alt=""
                />
              </object>

                <figcaption>
                  <a
                    href=<%= anime.characters[0].attr_link %>
                    target="_blank"
                    title="gear icons"
                    ><%= anime.characters[0].attr_name %> found at Alpha
                    Coders</a
                  >
                </figcaption>
              </figure>
            </div>

            <div class="character">
              <h4><%= anime.characters[1].name %></h4>
              <figure>
                <object data="https://images4.alphacoders.com/313/313.jpg">
                <img
                  class="character-image"
                  src="no-photo.png"
                  alt=""
                />
              </object>
                <figcaption>
                  <a
                    href=<%= anime.characters[1].attr_link %>
                    target="_blank"
                    title="gear icons"
                    ><%= anime.characters[1].attr_name %> found at Alpha
                    Coders</a
                  >
                </figcaption>
              </figure>
            </div>

            <div class="character">
              <h4><%= anime.characters[2].name %></h4>
              <figure>
                <object data="https://images4.alphacoders.com/313/313.jpg">
                <img
                  class="character-image"
                  src="no-photo.png"
                  alt=""
                />
              </object>
                <figcaption>
                  <a
                    href=<%= anime.characters[2].attr_link %>
                    target="_blank"
                    title="gear icons"
                    ><%= anime.characters[2].attr_name %> found at Alpha
                    Coders</a
                  >
                </figcaption>
              </figure>
            </div>

            <div class="character">
              <h4><%= anime.characters[3].name %></h4>
              <figure>
                <object data="https://images4.alphacoders.com/313/313.jpg">
                <img
                  class="character-image"
                  src="no-photo.png"
                  alt=""
                />
              </object>
                <figcaption>
                  <a
                    href=<%= anime.characters[3].attr_link %>
                    target="_blank"
                    title="gear icons"
                    ><%= anime.characters[3].attr_name %> found at Alpha
                    Coders</a
                  >
                </figcaption>
              </figure>
            </div>
          </div>
        </div>

        <% }); %>


      </div>
    </main>

<%- include("partials/header"); -%>